<%= form_for @conn, Routes.session_path(@conn, :create), fn f -> %>

  <div class="md-form md-outline">
    <i class="fal fa-envelope prefix"></i>
    <%= label f, :email %>
    <%= email_input f, :email, class: "form-control", autocapitalize: "none", autocomplete: "email", id: "email", required: true, autofocus: true %>
    <%= error_tag f, :email %>
  </div>

  <div class="md-form md-outline">
    <i class="fal fa-lock prefix"></i>
    <%= label f, :password %>
    <%= password_input f, :password, autocomplete: "email", class: "form-control", id: "password", required: true %>
    <%= error_tag f, :password %>
  </div>

  <div>
    <%= submit "Log in" %>
  </div>
<% end %>
